<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="isMobile() ? 'over' : 'side'" [opened]="!isMobile()" class="sidebar">
    <todo-sidebar-header />
    <mat-divider />
    <div class="sidebar__body">
      <div class="sidebar__section-title">Categories</div>
      <mat-nav-list>
        <a mat-list-item (click)="$event.preventDefault()">All</a>
        <a mat-list-item (click)="$event.preventDefault()">Uncategorized</a>
        @for (category of categories; track category.id) {
        <a mat-list-item (click)="$event.preventDefault()">{{category.title}}</a>
        }
      </mat-nav-list>
      <button matButton="text" (click)="openDialog()" class="sidebar__button">
        <mat-icon fontIcon="add_circle"></mat-icon>
        Create new category
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (isMobile()) {
    <mat-toolbar>
      <button matIconButton (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Dashboard</span>
    </mat-toolbar>
    }
    <ng-content />
  </mat-sidenav-content>
</mat-sidenav-container>