<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="isMobile() ? 'over' : 'side'" [opened]="!isMobile()" class="sidebar">
    <todo-sidebar-header />
    <mat-divider />
    <div class="sidebar__body">
      <todo-categories-list />
      <button matButton="text" (click)="openDialog()" class="sidebar__button">
        <mat-icon fontIcon="add_circle"></mat-icon>
        Create new category
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (isMobile()) {
    <mat-toolbar>
      <button matIconButton (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Dashboard</span>
    </mat-toolbar>
    }
    <ng-content />
  </mat-sidenav-content>
</mat-sidenav-container>