.sidenav-container {
  height: 100vh;
}
.sidebar {
  border-right-style: solid;
  border-right-width: var(--mat-divider-width, 1px);
  border-right-color: var(--mat-divider-color, var(--mat-sys-outline-variant));
  // .sidebar__body
  &__body {
    padding: 1rem;
    overflow-y: auto;
  }
  // .sidebar__button
  &__button {
    width: 100%;
  }
}
