.sidebar-header {
  padding: 1rem;
}
.user {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: var(--mat-sys-label-large-weight);
    font-size: var(--mat-sys-label-large-size);
    color: var(--mat-sys-on-surface);
  }

  &__email {
    font-size: var(--mat-sys-label-medium-size);
    color: var(--mat-sys-on-surface-variant);
  }
}
