.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  min-width: 320px;
  // .dialog-content__section
  &__section {
    display: flex;
    flex-direction: column;
    gap: 0.375rem 0;
  }
  // .dialog-content__title
  &__title {
    font-size: var(--mat-sys-body-small-size);
    color: var(--mat-sys-on-surface-variant);
    text-transform: uppercase;
  }
  // .dialog-content__text
  &__text {
    color: var(--mat-sys-on-surface);
  }
  // .dialog-content__due-date-container
  &__due-date-container {
    display: flex;
    gap: 1rem;
    width: 100%;

    mat-form-field {
      flex: 1;
      min-width: 0;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 0.75rem 0;

      mat-form-field {
        width: 100%;
      }
    }
  }
}
