<todo-sidebar>
  <div class="dashboard">
    <div class="dashboard__content">
      @if (isLoading()) {
      <div class="dashboard__spinner-container">
        <mat-spinner></mat-spinner>
      </div>
      } @else {
      <div class="dashboard__tasks-list">

        @for (task of tasks(); track task.id) {
        <todo-task-item [task]="task" [categories]="categories()" (delete)="deleteTask($event)" (update)="updateTask($event.id, $event.updatedTask)" />
        }

      </div>
      }
    </div>

    <mat-form-field appearance="outline" class="dashboard__create-field">
      <mat-icon matPrefix>add</mat-icon>

      <input matInput placeholder="Add a new task..." [formControl]="newTaskTitleControl" (keydown.enter)="createTask()" />

      @if (newTaskTitleControl.value) {
      <button matIconButton matSuffix type="button" (click)="clearInput()">
        <mat-icon>close</mat-icon>
      </button>
      }

      <button matIconButton matSuffix color="primary" type="button" (click)="createTask()" [disabled]="newTaskTitleControl.invalid">
        <mat-icon>send</mat-icon>
      </button>

      @if (newTaskTitleControl.invalid) {
      <mat-error>
        {{ errorMessage() }}
      </mat-error>
      }
    </mat-form-field>
  </div>
</todo-sidebar>